body {
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: -25px;
}
.sobre-nosotros {
    padding: 50px 20px;
    text-align: center;
}
.sobre-nosotros .contenedor {
    max-width: 1200px;
    margin: auto;
}
.perfil-contenedor {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.perfil {
    width: 500px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    transition: ease-in-out 0.3s;
}
.perfil:hover{
    box-shadow: 20px 28px 28px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-right: 15px;
}
.perfil img {
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    object-fit: cover;
}
.perfil h3 {
    margin: 15px 0 10px;
}
.perfil p {
    font-size: 14px;
    color: #555;
}
.descripcion-empresa {
    max-width: 800px;
    margin: auto;
    margin-bottom: 40px;
    font-size: 16px;
    color: #333;
}