
/*Diseño de Formularios*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5DC;
}
.container {
  width: 800px;
  height: 500px;
  display: flex;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-container {
    width: 100%;
    overflow: hidden;
}
.form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out;
}

.form-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-container span {
  font-size: 12px;
  margin-bottom: 15px;
}

.input-container {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 10px;
  background-color: #eeeeee;
}

.input-container input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.form-container a {
  color: #000000;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.input-container select{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
  text-align: center;
}

.input-container option {
  background-color: #f1f1f1;
  color: #333;
  font-size: 16px;
  padding: 10px; 
}

.input-container option:checked {
  font-weight: bold;
  background-color: inherit;
}

.boton{
  width: 170px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #013d5a;
    color: #FFFFFF;
}

/*Animaciones*/ 
.registro{
  transform: translateX(-100%);
}

.container.toggle .iniciar-sesion {
  transform: translateX(100%);
}

.container.toggle .registro {
  transform: translateX(0);
}

.container-bienvenida{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  background-color: #013d5a;
  overflow: hidden;
  transition: transform 0.8s ease-in-out, border-radius 0.8s ease-in-out;
  border-radius: 50% 0 0 50%;
}
.container.toggle .container-bienvenida{
  transform: translateX(0);
  border-radius: 0 50% 50% 0;
  background-color: #708c69;
}
.container-bienvenida .bienvenida{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding:0 50px;
  color: #FFFFFF;
  transition: transform 0.8s ease-in-out;
}

.bienvenida-sesion{
  transform: translateX(100%);
}

.container-bienvenida h3 {
  font-size: 30px;
}
.container-bienvenida p{
  font-size: 14px;
  text-align: center;
}
.container-bienvenida button{
  border: 2px solid #FFFFFF;
  background-color: transparent;
}
.container.toggle .bienvenida-sesion{
  transform: translateX(0);
}
.container.toggle .bienvenida-registro{
  transform: translateX(-100%);
}